.header-nav-list ul{
    gap: 15px;
}

.header-nav-list ul li a{
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0em;
}

.header-nav-list ul li a:hover{
    color: rgba(137, 228, 214, 1);
}

.header-nav-list ul li .activeClassName{
    color: rgba(255, 193, 7, 1)
}

@media screen and (max-width: 640px) {
    .header-nav-list ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}